In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
import os
import glob

folder_path = "/config/workspace/Weather_pattern/MORA_report"
# Get a list of all files in the folder
files = glob.glob(os.path.join(folder_path, '*.xlsx'))
# Sort the files by modification time (latest first)
files.sort(key=os.path.getmtime, reverse=True)

if files:
    latest_file = files[0]
    print("The latest file in the folder is:", latest_file)
else:
    print("The folder is empty or doesn't exist.")

The latest file in the folder is: /config/workspace/Weather_pattern/MORA_report/MORA_December2023.xlsx

In [9]:
Node_MORA = pd.read_excel(latest_file,sheet_name="Resource Details",header=1)
print(Node_MORA.shape)
Node_MORA=Node_MORA[~Node_MORA['UNIT CODE'].isna()]
print(Node_MORA.shape)

Node_MORA =  Node_MORA[~Node_MORA['COUNTY'].isna()]
print(Node_MORA.shape)
Node_MORA =  Node_MORA[ Node_MORA.COUNTY.str.isalpha()]
print(Node_MORA.shape)
Node_MORA['COUNTY_texas']= Node_MORA['COUNTY']+ ',texas'

(1494, 10)
(1122, 10)
(1103, 10)
(1041, 10)

In [4]:
County_zone_data = pd.read_csv('https://www.weather.gov/source/gis/Shapefiles/County/bp19se23.dbx',delimiter="|",header=None,index_col=None)
name_column = ["STATE","ZONE","CWA","NAME","STATE_ZONE","COUNTY","FIPS","TIME_ZONE","FE_AREA","LAT","LON"]
County_column = County_zone_data.columns
County_zone_data.rename(columns=dict(zip(County_column,name_column)),inplace=True)
County_zone_data

,STATE,ZONE,CWA,NAME,STATE_ZONE,COUNTY,FIPS,TIME_ZONE,FE_AREA,LAT,LON
0,NM,201,ABQ,Northwest Plateau,NM201,McKinley,35031,M,nw,36.4270,-108.4064
1,NM,201,ABQ,Northwest Plateau,NM201,San Juan,35045,M,nw,36.4270,-108.4064
2,NM,202,ABQ,Chuska Mountains,NM202,McKinley,35031,M,nw,36.0409,-108.9296
3,NM,202,ABQ,Chuska Mountains,NM202,San Juan,35045,M,nw,36.0409,-108.9296
4,NM,203,ABQ,Far Northwest Highlands,NM203,Rio Arriba,35039,M,nc,36.6585,-107.1028
...,...,...,...,...,...,...,...,...,...,...,...
4764,NV,19,VEF,Spring Mountains-Red Rock Canyon,NV019,Clark,32003,P,ss,36.2348,-115.6791
4765,NV,19,VEF,Spring Mountains-Red Rock Canyon,NV019,Nye,32023,P,sc,36.2348,-115.6791
4766,NV,20,VEF,Las Vegas Valley,NV020,Clark,32003,P,ss,36.1435,-115.1712
4767,NV,21,VEF,Lake Mead National Recreation Area,NV021,Clark,32003,P,ss,35.9412,-114.5934
4768,NV,22,VEF,Southern Clark County,NV022,Clark,32003,P,ss,35.5358,-115.0222

In [19]:
print(County_zone_data.shape)
len(County_zone_data.COUNTY.unique())

(4769, 11)

1993

In [21]:
County_zone_data[County_zone_data['STATE']=="TX"]

,STATE,ZONE,CWA,NAME,STATE_ZONE,COUNTY,FIPS,TIME_ZONE,FE_AREA,LAT,LON
350,TX,1,AMA,Dallam,TX001,Dallam,48111,C,pa,36.2779,-102.6022
351,TX,2,AMA,Sherman,TX002,Sherman,48421,C,pa,36.2777,-101.8935
352,TX,3,AMA,Hansford,TX003,Hansford,48195,C,pa,36.2775,-101.3545
353,TX,4,AMA,Ochiltree,TX004,Ochiltree,48357,C,pa,36.2784,-100.8156
354,TX,5,AMA,Lipscomb,TX005,Lipscomb,48295,C,pa,36.2777,-100.2731
...,...,...,...,...,...,...,...,...,...,...,...
4252,TX,154,SJT,McCulloch,TX154,McCulloch,48307,C,nc,31.1989,-99.3475
4253,TX,155,SJT,San Saba,TX155,San Saba,48411,C,nc,31.1552,-98.8176
4254,TX,168,SJT,Menard,TX168,Menard,48327,C,sc,30.8898,-99.8206
4255,TX,169,SJT,Kimble,TX169,Kimble,48267,C,sc,30.4868,-99.7487
4256,TX,170,SJT,Mason,TX170,Mason,48319,C,sc,30.7177,-99.2261

In [11]:
Node_MORA.COUNTY

1       SOMERVELL
2       SOMERVELL
3       MATAGORDA
4       MATAGORDA
5          GOLIAD
          ...
1479      LUBBOCK
1480       COLLIN
1481      WICHITA
1482      LUBBOCK
1483      LUBBOCK
Name: COUNTY, Length: 1041, dtype: object